<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.app_rp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="28" />
	<application android:label="App_RP.Android" android:icon="@drawable/rp">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCplIW-RhxYNi8iC_-MlamYWR1QjUTTJxY" />
		<!-- <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAB60QQTMKjNPe80S08U69z5v4jYo7rRcY" />-->
	</application>
   or 
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><uses-permission android:name="android.permission.INTERNET" /><uses-permission android:name="android.permission.READ_PHONE_STATE" /><uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /><uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /><uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!--localizacion --><uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMAND" /><uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /><!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />--><uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><uses-permission android:name="android.permission.READ_PHONE_NUMBERS" /><uses-permission android:name="android.permission.CALL_PHONE" /><uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" /><uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" /><uses-permission android:name="android.permission.USE_SIP" /><uses-feature android:name="android.hardware.location" android:required="false" /><uses-feature android:name="android.hardware.location.gps" android:required="false" /><uses-feature android:name="android.hardware.location.network" android:required="false" /></manifest>