<div class="row">
    <div class="col-12">
        <h4> Galeria de Establecimientos </h4>
    </div>
</div>
<!-- ./row -->
<div class="row">
    <div class="col-md-12"> <!--Tamaño del diseño para ocupar toda la hoja-->
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Sitio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Interior</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Exterior</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Menu-Comidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Menu-Bebidas</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">

                    <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                       
                            <!-- Main content -->
                            <section class="content">

                                <!-- Default box -->
                                <div class="card card-solid">

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-sm-7">

                                                <div class="col-12">
                                                    <img src="~/Images/1.jpg" class="product-image" id="1" alt="0">
                                                </div>
                                                <div class="col-12 product-image-thumbs">
                                                    <div class="product-image-thumb active"><img src="~/Images/2.jpg" alt="1"></div>
                                                    <div class="product-image-thumb"><img src="~/Images/3.jpg" alt="2"></div>
                                                    <div class="product-image-thumb"><img src="~/Images/1.jpg" alt="3"></div>
                                                    <div class="product-image-thumb"><img src="~/Images/4.jpg" alt="4"></div>
                                                    <div class="product-image-thumb"><img src="../../dist/img/prod-5.jpg" alt="5"></div>
                                                </div>
                                            </div>
                                            

                                            <div class="col-4">
                                                <nav class="w-100">
                                                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                                                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                                                        <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
                                                        <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content p-3" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> Hola 1 </div>
                                                    <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Hola 2 </div>
                                                    <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Hola 3 </div>
                                                </div>

                                                </div>

                                            </div>
                                        </div>
                                    <center>
                                        <div class="col-12 col-sm-6">
                                            <div class="mt-4 product-share">
                                                <a href="#" class="text-gray">
                                                    <i class="fab fa-facebook-square fa-2x"></i>
                                                </a>
                                                <a href="#" class="text-gray">
                                                    <i class="fab fa-twitter-square fa-2x"></i>
                                                </a>
                                                <a href="#" class="text-gray">
                                                    <i class="fas fa-envelope-square fa-2x"></i>
                                                </a>
                                                <a href="#" class="text-gray">
                                                    <i class="fas fa-rss-square fa-2x"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </center>
                                    
                                    <br/>
                                    </div>
                                <!-- /.card -->

                            </section>
                            <!-- /.content -->
                    </div>

                    <div  class="tab-pane fade show active" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">

                        <!-- Main content -->
                        <section class="content">

                            <!-- Default box -->
                            <div class="card card-solid">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-7">

                                            <div class="col-12">
                                                <img src="~/Images/5.jpg" class="product-image" id="2" alt="6">
                                            </div>
                                            <div class="col-12 product-image-thumbs">
                                                <div class="product-image-thumb active"><img src="~/Images/6.jpg" alt="7"></div>
                                                <div class="product-image-thumb"><img src="~/Images/7.jpg" alt="8"></div>
                                                <div class="product-image-thumb"><img src="~/Images/8.jpg" alt="9"></div>
                                                <div class="product-image-thumb"><img src="~/Images/5.jpg" alt="10"></div>
                                                <div class="product-image-thumb"><img src="../../dist/img/prod-5.jpg" alt="11"></div>
                                            </div>
                                        </div>


                                        <div class="col-4">
                                            <nav class="w-100">
                                                <div class="nav nav-tabs" id="product-tab" role="tablist">
                                                    <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                                                    <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
                                                    <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
                                                </div>
                                            </nav>
                                            <div class="tab-content p-3" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> Hola 1 </div>
                                                <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Hola 2 </div>
                                                <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Hola 3 </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <center>
                                    <div class="col-12 col-sm-6">
                                        <div class="mt-4 product-share">
                                            <a href="#" class="text-gray">
                                                <i class="fab fa-facebook-square fa-2x"></i>
                                            </a>
                                            <a href="#" class="text-gray">
                                                <i class="fab fa-twitter-square fa-2x"></i>
                                            </a>
                                            <a href="#" class="text-gray">
                                                <i class="fas fa-envelope-square fa-2x"></i>
                                            </a>
                                            <a href="#" class="text-gray">
                                                <i class="fas fa-rss-square fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </center>

                                <br />
                            </div>
                            <!-- /.card -->

                        </section>
                        <!-- /.content -->
                    </div>

                    <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                        Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                    </div>
                </div> 
            
            <!-- /.card -->
        </div>
    </div>
    </div>
        
</div>