@{
    // Layout = "~/Views/Shared/_Layout_Login.cshtml"; login_content
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@*/.login-logo*@
    <div class="card" style="opacity: 0.90">

        <div class="login-logo">
            <img src="~/Images/RP_Logos.jpg">
        </div>

        <!-- mensaje contraseña incorrecta -->
        <div class="logginerrors">
            <div class="alert alert-danger" role="alert" text-align="center">
                <h1 style="text-align:center; font-size: 15px; ">Invalid Login, please try again</h1>
            </div>
        </div>

        <div class="card-body login-card-body">
            <form action="../../index3.html" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" id="user" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>

                    </div>
                </div>



                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="pass" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">

                            <span class="fas fa-lock" onclick="mostrarContrasena()"></span>

                        </div>
                    </div>
                </div>
                <div class="row" hidden>
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    /.col
                    <div class="col-4">
                        <a onclick="Validar()" class="btn btn-primary ">Sign In</a>
                    </div>
                    /.col
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <a href="#" class="btn btn-block btn-primary" style="background-color:#1c1c1b;" onclick="Validar()">
                    Entrar
                </a>


                <a href="#" class="btn btn-block btn-primary" style="background-color:#ffc107;" onclick="login_recuperar_credenciales()">
                    Recuperar Contraseña
                </a>

                <a href="#" class="btn btn-block btn-primary" style="background-color:#1c1c1b;" onclick="login_recuperar_credenciales()">
                    Registrarse
                </a>

            </div>




            <!-- /.social-auth-links -->

            <p class="mb-1" hidden>
                <a href="forgot-password.html">I forgot my password</a>
            </p>
            <p class="mb-0" hidden>
                <a href="register.html" class="text-center">Register a new membership</a>
            </p>
        </div>
        <!--/.login-card-body -->
    </div>

<div class="container">



    <!--Modal-->
    <div class="modal fade" id="modal_recuperar_credenciales" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="count">Recuperar credenciales</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input id="txt_login_recuperar_credenciales" class="form-control" value="" placeholder="Escribe tu email: alguien@gmail.com">
                    </div>
                    <div class="row">
                        <div style="color:white;" id="lbl_login_recuperacion_mensaje" class="mt-3 col-12">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="login_recuperar_credenciales_boton" type="button" class="btn btn-default" onclick="login_recuperar_credenciales_envia_correo()" disabled>Recuperar</button>
                </div>
            </div>
        </div>
    </div>



</div>

<script src="~/Scripts/Scripts_Views/Login.js">
</script>